* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  font-size: 20px;
  text-align: center;
  margin: 30px;
  color: #111;
}

h1 {
  font-size: 46px;
}

p {
  margin: 0 20px;
  color: #444;
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

#input {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

#prediction {
  width: 300px;
  height: 300px;
  border: 3px solid #ccc;
  background-color: #f6f6f6;
  border-radius: 10px;
  font-size: 228px;
  line-height: 300px;
}

#confidence {
  margin: 16px;
  font-weight: 500;
  color: #333;
}

#main-canvas {
  cursor: pointer;
  border: 2px solid black;
  border-radius: 10px;
}

#small-canvas {
  display: none;
}

button {
  display: block;
  font: inherit;
  font-weight: 500;
  padding: 8px 26px;
  border: none;
  border-radius: 5px;
  background-color: #ddd;
  outline: none;
  cursor: pointer;
  transition: all 0.1s;
  margin-top: 10px;
}

button:hover {
  background-color: #222;
  color: white;
}

/* Style for the prediction table */
#prediction-table {
  border-collapse: collapse;
  width: 500px;
  margin-top: 20px;
}

#prediction-table th,
#prediction-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#prediction-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

#prediction-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#prediction-table tr:hover {
  background-color: #ddd;
}
